body {
    overflow: hidden;
}

#main {
    background-image: url(../images/IMG_0222.JPG);
    background-size: cover;
}
#main .overlay {
    background-color: rgba(50,50,50,0.5);
}
#main img {
    width: 250px;
}

#about {
    position: absolute;
    top: 100vh;
    left: 0;
    right: 0;
    bottom: 0;
}
#about img {
    width: inherit;
}

#skills {
    background-image: url(../images/IMG_1735.JPG);
    background-size: cover;
    position: absolute;
    top: 100vh;
    left: 0;
    right: 0;
    bottom: 0;
}
#skills .overlay {
    background-color: rgba(50,50,50,0.5);
}

#projects {
    position: absolute;
    top: 100vh;
    left: 0;
    right: 0;
    bottom: 0;
}

#contact {
    position: absolute;
    top: 100vh;
    left: 0;
    right: 0;
    bottom: 0;
}

.showdiv {
    animation-name: slideup;
    animation-duration: 0.25s;
}

@keyframes slideup {
    from { top: 100vh; }
    to { top: 0; }
}

.hidediv {
    animation-name: slidedown;
    animation-duration: 0.25s;
}

@keyframes slidedown {
    from { top: 0; }
    to { top: 100vh; }
}