body {
    margin: 0;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

#main {
    background-image: url(../images/IMG_0222.JPG);
    background-size: cover;
}
#main .overlay {
    background-color: rgba(50,50,50,0.5);
}
#main img {
    width: 250px;
}

#about img {
    width: inherit;
}

#skills {
    background-image: url(../images/IMG_1735.JPG);
    background-size: cover;
}
#skills .overlay {
    background-color: rgba(50,50,50,0.5);
}

#projects img {
    height: 75vh;
    width: auto;
    display: block;
    margin: 0 auto;
}
@media only screen and (max-width: 600px) {
    #projects img {
        width: auto;
        height: 25vh;
    }
}
@media only screen and (max-width: 1000px) {
    #projects img {
        width: auto;
        height: 35vh;
    }
}

.showdiv {
    animation-name: slideup;
    animation-duration: 0.25s;
}

@keyframes slideup {
    from { top: 100vh; }
    to { top: 0; }
}

.hidediv {
    animation-name: slidedown;
    animation-duration: 0.25s;
}

@keyframes slidedown {
    from { top: 0; }
    to { top: 100vh; }
}