#title {
  color: white;
  text-align:center;
  font-size: 72px;
  font-family: courier;
  padding-top: 250px;
}

#count {
  color: white;
  text-align: center;
  font-size: 28px;
  font-family: courier;
}

#img {
	background-image: url(space.jpg);
  width: 100%;
  height: 1000px;
}
